@import "tailwindcss";

@font-face {
  font-family: 'shantellSans';
  src: url('/fonts/ShantellSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'sigmar';
  src: url('/fonts/Sigmar-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer {
  h1 {
    @apply text-3xl text-white font-sigmar;
  }
  h2 {
    @apply text-xl text-white font-sigmar;
  }
  p {
    @apply text-sm text-white font-shantellSans;
  }
  .txt-black {
    @apply text-neo-black;
  }
  .nav-li {
    @apply border-b border-b-white py-4 text-white font-sigmar text-sm;
  }
  .nav-li-desk {
    @apply font-sigmar text-sm text-neo-black px-3 h-full flex items-center hover:text-white hover:bg-neo-black;
  }
  .article-why {
    @apply bg-neo-black p-4 pt-14 rounded-2xl relative h-60 w-75 max-w-100 flex flex-col justify-start gap-4 lg:h-70;
  }
  .img-why {
    @apply absolute top-0 left-1/2 size-20 bg-white rounded-full -translate-1/2 p-3;
  }
  .article-rules {
    @apply flex gap-4;
  }
  .article-rules-img {
    @apply flex flex-col gap-1 w-10;
  }
  .article-rules-img img {
    @apply w-full;
  }
  .article-rules-txt {
    @apply flex-1;
  }
  .article-catalogo {
    @apply flex flex-col gap-4 bg-neo-black h-auto w-70 pb-8 rounded-t-3xl overflow-hidden;
  }
  .article-catalogo-img {
    @apply w-full h-70 object-cover;
  }
  .article-catalogo-span {
    @apply w-2/3 mx-auto bg-white h-px;
  }
  .article-app {
    @apply h-50 flex flex-col justify-center gap-4 p-4 sm:px-8;
  }
}
@theme {
  --color-neo-black: hsl(22.5, 16.67%, 9.41%);

  --font-shantellSans: 'shantellSans';
  --font-sigmar: 'sigmar';
}