@import "tailwindcss";

@font-face {
  font-family: 'shantellSans';
  src: url('/fonts/ShantellSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sigmar';
  src: url('/fonts/Sigmar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer {
  h1 {
    @apply text-3xl text-white font-sigmar;
  }
  h2 {
    @apply text-xl text-white font-sigmar;
  }
  p {
    @apply text-sm text-white font-shantellSans;
  }
  .article-why {
    @apply bg-neo-black p-4 pt-[56px] rounded-2xl relative h-55 flex flex-col justify-start gap-4;
  }
  .img-why {
    @apply absolute top-0 left-1/2 size-20 bg-white rounded-full -translate-1/2;
  }
  .article-rules {
    @apply flex gap-4;
  }
  .article-rules-img {
    @apply flex flex-col gap-1 w-10;
  }
  .article-rules-img img {
    @apply w-full;
  }
  .article-rules-txt {
    @apply flex-1;
  }
}
@theme {
  --color-neo-black: hsl(22.5, 16.67%, 9.41%);

  --font-shantellSans: 'shantellSans';
  --font-sigmar: 'sigmar';
}